/* =============
    Footer
============= */

.background-hero{
background: #040F13;
border: 1px solid #000000;
}

.shark{
position: absolute;
width: 666px;
height: 222px;
left: 263px;
top: 90px;
font-size: 16px;
line-height: 10px;
color: #E9F5F9;
}




.hero-intro{
position: absolute;
width: 113px;
height: 30px;
left: 256px;
top: 28px;
font-size: 8px;
line-height: 10px;


text-align: center;

color: #E9F5F9;
}

.button-hero{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-end;
padding: 0px;
gap: 8px;

position: absolute;
width: 209px;
height: 44px;
left: 520px;
top: 546px;
border-radius: 16px;
}