/* =============
    Footer
============= */

.hero-background {
  background-color: #040F13;
  color: white;
  border: 1px solid #000000;
}

.hero-container {
  margin-left: 6vw;
  margin-right: 10vw;
  min-height: 450px;
  background-size: 500px;
  background-position: top right;
}

.shark h1 {
  margin: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 17vw;
}

.hero-intro {
  padding-left: 11vw;
  max-width: 53vw;
  line-height: 2;
}

.button-hero {
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin: 10px;
  background-color: #2596be;
}

.youtube-vid {
  width: 40vw;
  max-width: 500px;
  margin: 10px;
}