/* =============
    Reviews
============= */

.footer-background {
  background-color: #134b5f;
  color: white;
}

.user-img {
  border: 1px solid black;
  width: 50px;
}

.review-container {
  display: grid;
  grid-template-columns: 10% 90%;
  align-items: center;
  justify-content: center;
}

.single-review {
  padding: 10px;
  margin: 30px;
  border: 1px solid white;
  border-radius: 0px 25px 25px 0px;
}