/* =============
    Footer
============= */

.footer-titles{
    border-bottom: 1px solid black;
    font-size: 18px;
}

.textplace{
    width: 243px;
    height: 339px;
    font-size: 15px;
    line-height: 28px;
    text-decoration-line: underline;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    background-color: $foam;
    padding: 0px;
    gap: 240px;
    width: 1209px;
    height: 436px;
    left: 0px;
    top: 0px;
}

.background{
    background-color: $foam;
}

@include md {
    grid-template-columns: repeat(2, 320px);
    gap: 2%; 
    padding-bottom: 55px;
 }

 @include lg {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2%;
    padding-bottom: 55px;
 }