/* =============
    Header
============= */

.header-grid {
    grid-template-columns: 50% 40% 10%;
    display: grid;
    background-color: black;
    height: 60px;
}

.icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.button {
    background-color: #2596be;
}

.header-icons {
    display: grid;
    grid-template-columns: 50% 50%;
}